.square {
    border-style: solid;
    border-radius: 1px;
    border-color: black;
    height: 50px;
    width: 50px;
    background-color: #555;
}

.inputText {
    width: 45px;
    background-color: lightgray;
}

.inputRange {
    justify-content: center;
}

#colorSelector{
    background-color:rgb(0,0,0)
}
